# Startup script for the clock.
[Unit]
Description = C++ Book Quote Clock
After=network-online.target CPP_clock_build.service
Requires=CPP_clock_build.service

[Service]
Type=simple
ExecStart=__EXEC_START__
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target