# This script is to be run before CPP_clock.service on startup to build the clock's binary.
[Unit]
Description=Builds the C++ Book Quote Clock

[Service]
Type=oneshot
WorkingDirectory=__WORKING_DIRECTORY__
ExecStart=/usr/bin/cmake --build .

[Install]
WantedBy=multi-user.target